body {
    background-color: #121212;
    font-family: Verdana, Geneva, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: #64B5F6;
    text-align: center;
}

h3 {
    color: #4D8CF0;
    text-align: center;
}

input[type="text"], select {
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    background-color: #151515;
    color: #FFFFFF;
    padding: 8px;
    border-bottom: 4px solid #0f3f8b;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgb(20,20,20);
}

button {
    margin-bottom: 4px;
}

.error-description {
    max-width: 150px;
    display: none;
    color: #98c0ff;
}

input[type="text"] {
    margin-bottom: 5px;
    width: auto;
    max-width: 100%;
}

.error-description {
    display: none;
    border: 2px solid #FF0000;
    border-radius: 5px;
    max-width: 250px;
}

.calculation-panel .error-button {
    display: none;
    background-color: transparent;
    color: #FF0000;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #FF0000;
    border-radius: 5px;
    padding: 1px 1px;
}

.calculation-panel .error-button ion-icon {
    color: #FF0000;
    font-size: 20px;
    vertical-align: middle; 
}

.copy-button-group ion-icon {
    background: rgb(26,26,26);
    border: 2px solid rgb(20,20,20);
    border-radius: 5px;
    color: #ffff;
    font-size: 28px;
    vertical-align: middle;
    margin-left: 6px;
}

.title {
    color: #64B5F6;
    text-align: center;
    margin-bottom: 20px;
}

.calculation-panels {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calculation-panel {
    border: 2px solid #4D8CF0;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.calculation-panel h3 {
    color: #4d8cf0;
    text-align: center;
}

.calculation-panel button {
    margin-top: 10px; 
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculation-panel button:hover {
    background-color: #555;
}

.calculation-panel button:active {
    background-color: #777;
}

.calculation-panel ion-icon {
    color: #fff;  
}

.home-button {
    text-align: center;
    margin-top: 20px;
}

.home-button button {
    background-color: #4D8CF0;
    border: 2px solid #4D8CF0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
    padding: 10px 20px;
    font-size: 24px;
}

.home-button button:hover {
    transform: scale(1.1);
}

.home-button button:active {
    transform: scale(0.9);
}

.official-site-button {
    text-align: center;
    margin-top: 20px;
}

.official-site-button button {
    background-color: #4CAF50; /* Cor verde */
    border: 2px solid #4CAF50;
    border-radius: 5px;
    color: #FFFFFF; /* Cor do texto branco */
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
    padding: 10px 20px;
    font-size: 16px;
}

.official-site-button button:hover {
    transform: scale(1.1);
}

.official-site-button button:active {
    transform: scale(0.9);
}